@import "./background.module.scss";

.main {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding-block: 10em;

  .aboutUs {
    display: grid;
    grid-template-areas:
      "title"
      "img"
      "body";
    position: relative;

    @media (min-width: 780px) {
      grid-template-columns: 3fr 2fr;
      grid-template-areas:
        "title img"
        "body img";
      gap: 0 4em;
    }

    h1 {
      grid-area: title;

      span {
        color: var(--clr-accent);
        clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
      }

      @media (min-width: 980px) {
        margin-top: 0;
      }
    }

    img {
      grid-area: img;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
      box-shadow: 0 0 300px rgba(0 0 0 / 1);
    }

    div {
      grid-area: body;

      p {
        max-width: 814px;
      }
    }
  }
}
