@import "./background.module.scss";

.heroSection {
  padding: 0 1em;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;

  @media (min-width: 720px) {
    margin: 9em auto 0;
    padding: 0 3em;
  }

  @media (min-width: 1440px) {
    padding: 0;
  }

  .content {
    margin-top: 100px;
    display: grid;
    grid-template-areas:
      "title"
      "imgGrid "
      "body"
      "btn";

    @media (min-width: 980px) {
      grid-template-areas:
        "imgGrid title"
        "imgGrid body"
        "imgGrid btn";
      margin-left: -14em;
      gap: 0 3.125em;
    }

    h1 {
      grid-area: title;
      max-width: 850px;
      margin-bottom: 1.5rem;
      margin-top: 0;
      transform: translateY(0);

      span {
        color: var(--clr-accent);
        clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
        display: inline-flex;
        flex-direction: column;

        svg {
          top: 1.25em;
          left: 0;
          opacity: 0;
          margin-top: -0.5rem;
          stroke-dasharray: 1000;
          stroke-dashoffset: 1000;
          animation: trace 1s ease-out forwards;
          animation-delay: 1.8s;
          clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
          z-index: 1;

          @keyframes trace {
            0% {
              opacity: 0;
              stroke-dashoffset: 868;
            }
            10% {
              opacity: 1;
            }
            100% {
              opacity: 1;
              stroke-dashoffset: 0;
            }
          }
        }
      }
      @media (min-width: 1440px) {
        margin-bottom: 3rem;
      }
    }

    p {
      grid-area: body;
      margin-block: 0 2em;
      max-width: 720px;

      @media (min-width: 980px) {
        margin-bottom: 3em;
      }
    }

    a {
      grid-area: btn;
      width: fit-content;
      font-size: var(--fs-btn) !important;

      @media (min-width: 980px) {
        margin-bottom: 4em;
      }
    }

    div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "img1 img2 img3"
        ". img5 img4";
      gap: 0.75em;
      width: fit-content;
      margin-bottom: 1.5rem;
      grid-area: imgGrid;

      @media (min-width: 980px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "img1 img2 ."
          ". img3 ."
          "img4 img5 .";
      }

      img {
        object-fit: cover;
        border-radius: 6px;
      }

      img:nth-of-type(1) {
        grid-area: img1;
      }
      img:nth-of-type(2) {
        grid-area: img2;
      }
      img:nth-of-type(3) {
        grid-area: img3;
      }
      img:nth-of-type(4) {
        grid-area: img5;
      }
      img:nth-of-type(5) {
        grid-area: img4;
      }
    }
  }
}

@include backgroundImg("../assets/hero-img.jpg");
