@import "./background.module.scss";

@mixin svgIcon($image) {
  background-image: url($image);
  background-position: 0.5em center;
  background-repeat: no-repeat;
  padding-left: 2.5em;
}

.tourSection {
  position: relative;
  padding: 0 1em;
  max-width: 1220px;
  width: 100%;
  margin: 6em auto;

  @media (min-width: 720px) {
    margin: 11em auto;
    padding: 0 3em;
  }

  @media (min-width: 1440px) {
    padding: 0;
  }

  span {
    color: vaR(--clr-accent);
  }

  h1 {
    font-size: var(--fs-h2);
  }
}
.toursContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

// Cards Style

.tourCard {
  margin-bottom: 2em;

  img {
    border-radius: 6px;
    height: 264px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  div {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-areas: "pax length . price";
    justify-content: space-between;
    gap: 0.725em;
    padding-inline: 0.5em;
    margin-top: -3.5em;

    p {
      margin: 0;
      border-radius: 6px;
      font-size: 0.9125rem;
      padding: 0.25em 0.75em;

      &:nth-last-of-type(2),
      &:nth-last-of-type(3) {
        background-color: #1b1e1f;
        color: var(--clr-primary-light);
      }

      &:nth-last-of-type(1) {
        grid-area: price;
        background-color: var(--clr-primary-light);
        color: var(--clr-primary-dark);
        font-weight: var(--fw-bold);
      }

      &:nth-last-of-type(2) {
        grid-area: length;
        @include svgIcon("../assets/clock.svg");
      }

      &:nth-last-of-type(3) {
        grid-area: pax;
        @include svgIcon("../assets/group.svg");
      }
    }
  }

  h3 {
    margin-bottom: 0;
    color: var(--clr-primary-light);
    margin-top: 2em;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-block: 0.5em 3em;
    color: #ffffff99;
    font-size: 1rem;
    line-height: 2;
  }

  @media (min-width: 980px) {
    a {
      display: inline-block;
    }
    a:hover::after {
      width: 25px;
    }
  }
}

// @include backgroundImg("../assets/contact-page-bg-image.jpg");
